apache-tomcat-8.5.53
.idea
.classpath
web/.idea
web/.class
web/.classpath
web/.project
web/.vscode
web/.settings/
web/target/
web/aws/
web/out/
web/web/static
web/web/static/js
web/web/static/css/main*.css
web/web/static/css/main*.map
web/web/service-worker.js
web/web/asset-manifest.json
web/web/index.html
web/web/precache-manifest*.js
web/data_collection_creation/env/
web/data_collection_creation/sql_creation/
web/data_collection_creation/collected_data/
web/data_collection_creation/xml_creation/
web/data_collection_creation/__pycache__
web/data_collection_creation/.cache-lassenordahl
web/src/resources/config.properties
web/src/resources/config.production.properties
web/pom.xml.tag
web/pom.xml.releaseBackup
web/pom.xml.versionsBackup
web/pom.xml.next
web/release.properties
web/dependency-reduced-pom.xml
web/buildNumber.properties
web/.mvn/timing.properties
web/.mvn/wrapper/maven-wrapper.jar
web/*.iml
*.iml
.project
