.selected-view {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-view-card {
  background-color: #323A49;
  box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1) !important;
  max-width: 80vw;
  text-align: center;
  transition: all 0.5s ease-in;
  height: 160px;
  width: 540px;
  display: flex;
  flex-direction: row;
}

.selected-view-card-expanded {
  height: 372px;
}

.selected-view-song-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selected-view-album-art {
  width: 160px;
  height: 160px;
  margin: 24px;
}

.selected-view-details {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  flex: 1 1;
  align-items: flex-start;
}

.selected-view-main-info {
  display: flex;
  flex-direction: row;
}

.selected-view-extra-info {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1px; 
  /* Needs to have a bounded height or it doesn't flex to fit container (weird) */
}

.selected-view-details h2 {
  margin: 0;
  margin-bottom: 12px;
}

.selected-view-details p {
  margin: 0;
  margin-bottom: 12px;
}

.selected-view-card-open {
  height: 360px;
}


