.login-form {
    width: 85%;
    height: fit-content;
}

.login-form input {
    height: 25px;
    margin-top: 12px;
}

.login-form span {
    color: rgb(205, 142, 142);
    margin-top: 5px;
    margin-left: 7px;
    display: flex;
    justify-content: left;
    font-size: 12px;
}

.login-form-button {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}