.artist-card {
  background-color: #323A49;
  box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1) !important;
  max-width: 80vw;
  text-align: center;
  transition: 0.25s all linear;
  height: 200px;
  width: 200px;
}

.artist-card:hover {
  box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1) !important;
  transform: scale(1.05);
  cursor: pointer;
}

.artist-card-album-art {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1) !important;
  transform: translateY(-24px);
}

.artist-card-album-art img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.artist-card-margin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-center;
}

.artist-card-info h2 {
  margin: 0;
  font-size: 1.25em;
  margin-bottom: 8px;
}

.artist-card-info p {
  margin: 0;
  margin-bottom: 8px;
}