.toaster {
  position: fixed;
  /* top: 24px; */
  top: calc(24px + 1 * 72px);
  right: 24px;
  width: 240px;
  min-height: 48px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: #323A49;
  box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1) !important;
  z-index: 1005;
}

.toaster-label {
  height: 100%;
  width: 8px;
  background-color: white;
}

.toaster-label-green {
  background-color: #8bf797;
}

.toaster-label-red {
  background-color: #ff7668;
}

.toast-text {
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toast-text p {
  font-size: 0.9em;
  margin-left: 12px;
}