.songs-page {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.songs-page-content { 
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.songs-page-search {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
}

.songs-page-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.songs-page-filter-wrapper {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.songs-page-filter {
  display: flex;
  flex-direction: row;
}

.songs-page-filter p {
  margin-right: 24px;
  cursor: pointer;
}

.songs-page-filter p:last-child {
  margin-right: 0px;
}