.playlists {
  flex: 1 1;
  display: flex;
  justify-content: center;
}

.playlists-content {
  width: 80% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}