.song-card {
  background-color: #323A49;
  box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1) !important;
  max-width: 80vw;
  text-align: center;
  transition: 0.25s all linear;
  height: 120px;
  width: 490px;
  text-align: start;
  position: relative;
}

.song-card:hover {
  box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1) !important;
  transform: scale(1.05);
  cursor: pointer;
}

.song-card-album-art {
  height: 120px;
  min-width: 120px;
  max-width: 120px;
  border-radius: 10px;
  box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1) !important;
}

.song-card-album-art img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.song-card-margin {
  margin: 24px;
  display: flex;
  flex-direction: row;
}

.song-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 24px;
}

.song-card-info h2 {
  margin: 0;
  font-size: 1.25em;
  margin-bottom: 8px;
}

.song-card-info p {
  margin: 0;
  margin-bottom: 8px;
}

