.App {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right,#252B38, #1d222e);
  color: white;
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: .7em;
  color: lightGray;
}